* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	/* Ejejmplo 1 flex box */
	/* Paso1: sino pongo estan las fotos una denajo de otra */
	/* display: flex; */
	/* Separacion entre cada elemento */
	/* gap: 20px; */

	/* Ejejmplo 2 flex box */
	display: grid;
	/* Especificamos cuantas columnas quieresm 2 del 50%*/
	grid-template-columns: 3fr 1fr;
	/* grid-template-columns: 1fr auto; */
	/* separar cajas ene ellas */
	gap: 20px;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {

	list-style: none;
	/* Elimina los puntos negros de la lista */


	/* Ejejmplo 1 flex box */
	/* width: 70%; */

	/* Estaban en vertical y se ponen horizontal */
	/* display: flex; */
	/* Sino caben se ponen abajo */
	/* flex-wrap: wrap; */

	/* Damosesacio entre cajas */
	/* gap: 20px; */

	/* Ejejmplo 2 grid */
	display: grid;
	/* creamos tres columnas */
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	/* Ejemeplo 1 flex box */
	/* width: calc(33.33% - 20px);  */
}

.card .textos {
	/* Si quitamos no funcionan los tetos */
	height: 100%;

	/* Ejejmplo 1 flex box ,PARA ESPACIAR ELEEMENTOS MEJOR*/
	/* Para cambiar los textos de arriba a abajo */
	display: flex;
	/* Para iniciar los tetos en columnas */
	flex-direction: column;
	/* Para ver texto arriba y abajo*/
	justify-content: space-between;

	/* PODEMOS UTILIZAR LOS DOS ARRIBA O ABAJO */

	/* Ejemplo 2 grid */
	/* display: grid; */
	/* quiero que halla dos filas para textos */
	/* grid-template-rows: 1fr 1fr; */
	/* grid-template-rows: 1fr auto; */
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
	/* Elimina la propiedad list-style para quitar los círculos negros */
	list-style: none;

	/* Ejejmplo 1 flex box */
	/* Arerglando espacio de las dos cajas,
	para ver los textos uno abajo otro y texto en centro*/
	/* width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */


}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
	list-style: none;
	/* Elimina los puntos negros de la lista */
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}